{% load staticfiles %}
<html>
<head>
    <title>New positions - Orchestral Motion</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}"></script>
</head>
<body>
    <h1>New positions</h1>
    <section id="events" name="events">
        <ul></ul>
    </section>
    <script>
        $(function () {
            var ws_path =  "/stream/";
            var ul = $("#events ul");
            console.log("Connecting to " + ws_path);
            console.log("Writing to " + ul);
            var webSocketBridge = new channels.WebSocketBridge();
            webSocketBridge.connect(ws_path);
            webSocketBridge.listen();
            webSocketBridge.demultiplex('position', function(payload, streamName) {
                console.log(payload);
                // Handle different actions
                if (payload.action == "create") {
                    var li = "<li>" + payload.data.timestamp + "</li>"
                    ul.append(li);
                }
            });
            // Helpful debugging
            webSocketBridge.socket.addEventListener('open', function() { console.log("Connected to notification socket"); });
            webSocketBridge.socket.addEventListener('close', function() { console.log("Disconnected to notification socket"); });
        });
    </script>
</body>
</html>
